* {
    margin: 0;
    padding: 0;
}

.dashboard-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
}

#logo-container {
    width: 20%;
    min-width: 200px;
    padding: 20px;
    padding-left: 20px;
}

#logo-container img {
    max-width: 100%;
}


#link-container {
    padding-right: 30px;
}

#dashboard-link {
    color: #003D20;
    text-decoration: none;
    padding-right: 20px;
    font-size: 40px;
    font-family: "Dosis", sans-serif;
}

#dashboard-link a:visited,
#dashboard-link a:active {
    color: #003D20;
    text-decoration: none;
}

#dashboard-link:hover {
    text-decoration: underline;
    cursor: pointer;
}

#logout {
    color: #b31717;
    text-decoration: none;
    font-size: 40px;
    font-family: "Dosis", sans-serif;
}

#logout a:visited,
#logout a:active {
    color: #003D20;
    text-decoration: none;
}

#logout:hover {
    text-decoration: underline;
    cursor: pointer;
}


.course-content {
    background-color: #D2E47D;
    width: 60%;
    padding: 20px;
    border-radius: 10px;
    margin: auto;
}

.lesson-header {
    display: flex;
    justify-content: space-between;
    font-size: 35px;
}

.lesson-div {
    max-height: 45px;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
}

.lesson-title {
    width: fit-content;
}

.arrow {
    width: fit-content;
    transition: 0.5s;
}

.arrow:hover {
    cursor: pointer;
}

.lesson-content {
    background-color: white;
    height: fit-content;
    width: 90%;
    margin: auto;
    margin-top: 30px;
    flex-shrink: 0;
    padding: 30px;
}

.content-hide {
    background-color: aqua;
    width: fit-content;
    margin: auto;
}

.content-hide:hover {
    cursor: pointer;
}