* {
    margin: 0;
    padding: 0;
}

.dashboard-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
}

#logo-container {
    width: 20%;
    min-width: 200px;
    padding: 20px;
    padding-left: 20px;
}

#logo-container img {
    max-width: 100%;
}

#link-container {
    padding-right: 30px;
}

#learn-link {
    color: #003D20;
    text-decoration: none;
    padding-right: 20px;
    font-size: 40px;
    font-family: "Dosis", sans-serif;
}

#learn-link a:visited,
#learn-link a:active {
    color: #003D20;
    text-decoration: none;
}

#learn-link:hover {
    text-decoration: underline;
    cursor: pointer;
}


#learn-link {
    color: #003D20;
    text-decoration: none;
    font-size: 40px;
    font-family: "Dosis", sans-serif;
}

#logout {
    color: #b31717;
    text-decoration: none;
    font-size: 40px;
    font-family: "Dosis", sans-serif;
}

#logout a:visited,
#logout a:active {
    color: #003D20;
    text-decoration: none;
}

#logout:hover {
    text-decoration: underline;
    cursor: pointer;
}


.course-outline {
    background-color: #d3e47d64;
    width: 60%;
    padding: 20px;
    border-radius: 10px;
    margin: auto;
}

#roadmap {
    font-family: "Dosis", sans-serif;
    font-size: 50px;
    font-weight: bold;
}

.section-header {
    padding-top: 30px;
    margin-top: 50px;
}

.section-header2 {
    padding-top: 30px;
    margin-top: 50px;
    padding-bottom: 5px;
}

.lesson-header {
    display: flex;
    justify-content: space-between;
    font-family: "Dosis", sans-serif;
    font-size: 35px;
}

.lesson-div {
    max-height: 45px;
    overflow: hidden;
    transition: max-height 0.5s;
    padding-top: 30px;
}

.lesson-title {
    width: fit-content;
}

.arrow {
    width: fit-content;
}

.arrow:hover {
    cursor: pointer;
}

.lesson-description {
    background-color: white;
    height: fit-content;
    width: 90%;
    margin: auto;
    margin-top: 10px;
    flex-shrink: 0;
    padding: 30px;
    font-family: "Dosis", sans-serif;
    font-size: 24px;
    text-align: center;

}

.content-hide {
    width: fit-content;
    margin: auto;
    font-size: 18px;
}

.content-hide:hover {
    cursor: pointer;
}

@media screen and (max-width: 850px) {
    .course-outline {
        width: 90%;
    }

    .section-header,
    .section-header2,
    .lesson-header {
        font-size: 30px;
    }

}

@media screen and (max-width: 500px) {
    #roadmap {

        font-size: 30px;

    }

    #link-container {
        display: flex;
        flex-direction: column;
    }

    #learn-link,
    #logout {
        font-size: 24px;
    }

    .course-outline {
        width: 90%;
    }

    .section-header {
        margin-top: 0;
    }

    .section-header,
    .section-header2,
    .lesson-header {
        font-size: 20px;
    }


    .lesson-description {
        font-size: 20px;
        padding: 10px;
        margin-top: 30px;
    }

}