* {
    margin: 0;
    padding: 0;
}

html {
    background-color: #d6fcde;
}

.brand-header {
    margin: auto;
}

.brand-header img {
    width: 25%;
    min-width: 200px;
    display: block;
    margin: auto;
    margin-top: 50px;
    height: auto;
}

.margin-container {
    display: flex;
}

.star-container {
    width: 15%;
    padding: 0px 40px 0px;
}

.star-container img {
    width: 100%;
}

main {
    width: 60%;
    margin: auto;
    margin-top: 50px;
    overflow-x: scroll;
    display: flex;
    border-radius: 10px;
    scroll-snap-type: x mandatory;
}

@keyframes getStarted {

    0%,
    100% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(10px);
    }
}


#scroll {
    margin: auto;
    width: fit-content;
    font-size: 35px;
    font-family: "Dosis", sans-serif;
    margin-bottom: 50px;
    animation-name: getStarted;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}


.img-container {
    width: 50%;
    margin: auto;
}

#about-us-img {
    width: 100%;
}

.about-us {
    flex-shrink: 0;
    width: 100%;
    scroll-snap-align: start;
}

.about-paragraph {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 30px;
    font-size: 25px;
    font-family: "Dosis", sans-serif;
}

#study-link {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

#study-link:hover {
    color: blue;
}


form {
    flex-shrink: 0;
    display: inline;
    margin: auto;
    width: 100%;
    background-color: white;
    font-family: "Dosis", sans-serif;
    scroll-snap-align: start;
}

#form-header {
    font-size: 35px;
    width: 60%;
    margin: auto;
    padding: 30px 50px 30px;
    text-align: center;
}

.form-content {
    width: 50%;
    margin: auto;
    padding-bottom: 30px;
}

.form-label {
    font-size: 28px;
    display: block;
    padding-top: 20px;
    width: fit-content;
    padding-bottom: 10px;
}

.asterisk {
    color: rgb(178, 16, 16);
}

.name-field {
    display: flex;
    justify-content: space-between;
}

.fname-field,
.lname-field {
    width: 45%;
}

.input-field {
    font-size: 20px;
    width: 100%;
    display: block;
    margin: auto;
    padding: 10px;
    border-radius: 5px;
    border-color: rgba(0, 0, 0, 0.219);
}

#join {
    display: block;
    margin: auto;
    color: #003D20;
    background-color: #B1CD2B;
    border-color: transparent;
    border-radius: 5px;
    margin-top: 20px;
    font-size: 40px;
    font-family: "Dosis", sans-serif;
    width: 50%;
    padding: 5px 20px 5px;
    transition: 0.5s;
}

#join:hover {
    cursor: pointer;
    background-color: #D2E47D;
}

#error {
    padding-top: 20px;
    color: rgb(184, 12, 12);
}

@media only screen and (max-width: 1600px) {

    .star-container {
        display: none;
    }

    main {
        width: 90%;
    }

    .about-paragraph {
        width: 90%;
    }
}

@media only screen and (max-width: 768px) {
    main {
        margin-bottom: 50px;
    }

    .form-content {
        width: 80%;
    }
}

@media only screen and (max-width: 500px) {
    main {
        margin-bottom: 50px;
    }

    form {
        width: 100%;
    }

    #scroll {
        font-size: 25px;
    }

    .about-paragraph {
        font-size: 18px;
    }

    #form-header {
        font-size: 20px;
        width: 85%;
        padding: 30px 0px 30px;
    }

    .form-label {
        font-size: 20px;
    }

    .input-field {
        padding: 5px;
        font-size: 16px;
    }

    #join {
        font-size: 30px;
    }


}