* {
    margin: 0;
    padding: 0;
}

html {
    background-color: #d6fcde;
}


.brand-header {
    display: block;
    margin: auto;
}

.brand-header img {
    width: 20%;
    min-width: 200px;
    display: block;
    margin: auto;
    height: auto;
}

main {
    width: 100%;
}

form {
    margin: auto;
    width: 768px;
    min-width: 250px;
    background-color: white;
    font-family: "Dosis", sans-serif;
    border-radius: 10px;
}

#form-header {
    font-size: 35px;
    width: fit-content;
    margin: auto;
    padding: 30px 50px 30px;
    text-align: center;
}

.form-content {
    width: 70%;
    margin: auto;
    padding-bottom: 30px;
}

.form-label {
    font-size: 28px;
    display: block;
    padding-top: 20px;
    width: fit-content;
    padding-bottom: 10px;
}

.asterisk {
    color: rgb(178, 16, 16);
}

.name-field {
    display: flex;
    justify-content: space-between;
}

.fname-field,
.lname-field {
    width: 45%;
}

.input-field {
    font-size: 20px;
    width: 100%;
    display: block;
    margin: auto;
    padding: 10px;
    border-radius: 5px;
    border-color: rgba(0, 0, 0, 0.219);
}

#join {
    display: block;
    margin: auto;
    color: #003D20;
    background-color: #B1CD2B;
    border-color: transparent;
    border-radius: 5px;
    margin-top: 20px;
    font-size: 40px;
    font-family: "Dosis", sans-serif;
    width: 50%;
    padding: 5px 20px 5px;
    transition: 0.5s;
}

#join:hover {
    cursor: pointer;
    background-color: #D2E47D;
}

#error {
    padding-top: 20px;
    color: rgb(184, 12, 12);
}

@media only screen and (max-width: 768px) {

    form {
        width: 80%;
    }

}

@media only screen and (max-width: 500px) {

    form {
        width: 100%;
    }

    #form-header {
        font-size: 25px;
    }

    .form-label {
        font-size: 20px;
    }

    .input-field {
        padding: 5px;
        font-size: 16px;
    }

    #join {
        font-size: 30px;
    }


}